/*==================================================
                    Html Body
==================================================*/
* {
  margin: 0;
  padding: 0;
}

/*===============================================
                    Header
===============================================*/

/* transparent navbar */

.navbar-transparent .bg-light {
  background-color: transparent !important;
}

.navbar-transparent .navbar-light .navbar-nav .nav-link {
  font-family: "Open sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #fff;
  padding: 15px 0px 0px 0px;
}

.navbar-transparent .navbar-light .home-nav.login-note-btn button {
  background: #fff;
  color: #6055a5;
  font-weight: 600;
}

.navbar-transparent .navbar-light .navbar-nav.home-nav .nav-link {
  padding: 0px 0px 0px 0px;
}
.navbar-light .navbar-nav .nav-link {
  padding: 15px 0px 0px 0px;
}

.navbar-light .navbar-nav .nav-link img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-top: -10px;
}

.navbar-transparent .bg-light {
  background-color: transparent !important;
}
img#nav-img {
  border-radius: 50%;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  /* height: 100px; */
}
.bg-light {
  /* height: 100px; */
  z-index: 5000;
  box-shadow: 0px 0px 30px 0px rgb(0, 0, 0, 0.08);
  background: #fff;
}

li.nav-item {
  font-family: "Open sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #333333;
  padding: 0px 15px;
}
.navbar-light .navbar-nav .nav-link {
  font-family: "Open sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #333333;
  /* padding: 15px 0px; */
  /* width: max-content; */
}
.bg-light {
  background-color: #fff !important;
}

.login-note-btn button {
  border-radius: 3px;
  font-family: "Open sans";
  font-size: 16px;
  line-height: 22px;
  width: 100px;
  height: 30px;
  background: #6255a5;
  color: #fff;
  border: none;
}

/*===============================================
                    Content Box
===============================================*/
.main-page {
  width: 100%;
  margin: 0 auto;
}

.main-page-container {
  width: 100%;
  min-height: 100vh;
  background: url("../images/login/banner-with-overlay.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.form-warp {
  overflow: hidden;
  padding: 100px 0;
}

.content-box-lg {
  background: pink;
  width: 1920px;
  margin: auto;
  z-index: 2;
  padding: 0 240px;
}

/*===============================================
                    Buttons
===============================================*/
.btn-general {
  margin: 0;
  padding: 0;
  background: #6255a5;
  width: 480px;
  height: 50px;
  border-radius: 3px;
  color: #fff;
  font-family: "Open sans";
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  border: none;
}

.btn-home {
  color: #fff;
  width: 89px;
  height: 30px;
  border-radius: 3px;
  background: #6255a5;
  font-family: "Open sans";
  font-size: 16px;
  line-height: 22px;
}

/*==================================================
                    Login Page
==================================================*/

.content-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#form-size {
  background-color: white;
  margin-top: 25px;
  padding: 50px;
  border-radius: 3px;
}

.main-general-form form h3 {
  font-family: "Open sans";
  font-size: 34px;
  font-weight: 600;
  line-height: 38px;
  color: #6255a5;
  margin-bottom: 20px;
}

.main-general-form form p {
  font-family: "Open sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
  color: #333333;
  margin-bottom: 45px;
}

.main-general-form form label,
.client-profile label {
  margin: 0;
  font-family: "Open sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #333333;
}

.main-general-form form .form-group {
  margin-bottom: 30px;
}

.main-general-form form .form-control {
  border: 1px solid #6255a5;
  width: 480px;
  height: 50px;
  border-radius: 3px;
}

.main-general-form form .form-control:focus {
  border: 1px solid #ff5e5e;
}

.main-general-form form input {
  margin-top: 10px;
  font-family: "Open sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #8a8a8a;
}

.main-general-form form .form-group a {
  float: right;
  font-family: "Open sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #6255a5;
  text-decoration: none;
}

.main-general-form form .form-group img {
  float: right;
  margin-top: -32px;
  margin-right: 10px;
  position: relative;
  margin-bottom: 10px;
  z-index: 2;
}

.main-general-form form small {
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  color: #ff3636;
}

.main-general-form form .input-group-prepend input {
  border: 1px solid #d1d1d1;
  width: 30px;
  height: 30px;
  border-radius: 3px;
}

.main-general-form form .input-group-text {
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.main-general-form form .input-group-text label {
  margin-left: 8px;
}

#form-size p {
  margin-top: 20px;
  font-family: "Open sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #333333;
}

#form-size p a {
  color: #6255a5;
  text-decoration: none;
}

/*==================================================
                    Sign Up Page
==================================================*/
#user-message {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "Open sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: green;
}

/*==================================================
                    User Profile Page
==================================================*/

.banner-img-text {
  margin-top: 66px;
  position: relative;
  background: url("../images/User-Profile/banner-with-overlay.jpg") no-repeat
    center;
  height: 250px;
}

.banner-img-text h3 {
  position: absolute;
  font-family: "Open sans";
  font-size: 50px;
  font-weight: 600;
  line-height: 54px;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.profile-detail-box {
  margin-top: 60px;
}

.profile-detail-box h3 {
  font-family: "Open sans";
  font-size: 25px;
  font-weight: 600;
  line-height: 38px;
  color: #6255a5;
}

.client-profile form label {
  font-size: 15px;
}

.client-profile form span {
  float: right;
  margin-top: -35px;
  margin-right: 10px;
  position: relative;
  margin-bottom: 10px;
  z-index: 2;
}

/* .client-profile form .form-control {
  height: 45px;
  font-size: 14px;
} */

.last-row {
  margin-bottom: 0px;
}

.client-profile form .profile-picture-input input {
  height: 100px;
}

.client-profile form .profile-picture-input span img {
  float: right;
  margin-top: -45px;
  margin-right: 225px;
  position: relative;
  margin-bottom: 10px;
  z-index: 2;
}

.client-profile form .profile-picture-input span p {
  float: right;
  margin-top: 1px;
  margin-right: -80px;
  margin-bottom: 0px;
  position: relative;
  z-index: 2;
  font-family: "Open sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #8a8a8a;
}

.btn-general.btn-submit-form {
  width: 125px;
  height: 40px;
  border: none;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 60px;
}

/*==================================================
                    Email Verification
==================================================*/

#form-emailv {
  background-color: white;
  margin-top: 25px;
  padding: 30px;
  border-radius: 3px;
}

.email {
  width: 100%;
  min-height: 100vh;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.email #form-emailv form h3 {
  font-family: "Open sans";
  font-size: 26px;
  font-weight: 600;
  line-height: 30px;
  color: #6255a5;
}

#form-emailv img {
  margin-bottom: 50px;
}

#smith {
  font-family: "Open sans";
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: #333333;
  margin-bottom: 20px;
}

#p1,
#p2 {
  font-family: "Open sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #333333;
}

/*===============================================
                     Home Page
===============================================*/

/* .without-banner {
  margin-top: 100px;
} */

.banner-image-homepage {
  /* margin-top: 66px; */
  position: relative;
  background: url("../images/Homepage/banner-with-overlay.jpg") no-repeat center;
  height: 620px;
}
#home-heading-1 {
  /* position: absolute; */
  font-family: "Open sans";
  font-size: 50px;
  font-weight: 700;
  line-height: 54px;
  color: #fff;
}
#home-text-para {
  font-family: "Open sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #fff;
}
#home-content-inner {
  padding: 250px;
}

.banner-image-homepage .home-heading {
  position: absolute;
  color: #fff;
}

#L-btn .L-btn-home {
  color: #fff;
  width: 172px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 3px;
  background: none;
  font-family: "Open sans";
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
}

/*==================================================
                    About Page
==================================================*/
.home-about-lg {
  margin-top: 126px;
  margin-bottom: 60px;
}

#about-para-1 {
  margin-bottom: 50px;
}

.home-about .home-about-lg h1 {
  font-family: "Open sans";
  font-size: 34px;
  font-weight: 600;
  line-height: 38px;
  color: #6255a5;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.home-about .home-about-lg p #about-para-1,
.home-about .home-about-lg p #about-para-2 {
  font-family: "Open sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #333333;
  margin: 0;
}

/*==================================================
                    Work PAge
==================================================*/

.work {
  /* background-color: rgb(202, 200, 200); */
  /* height: 620px; */
  margin-bottom: 60px;
  background-color: #f9f9f9;
  padding-top: 60px;
  padding-bottom: 60px;
}

.work .work-main-heading h1 {
  /* margin-top: 60px; */
  font-family: "Open sans";
  font-size: 34px;
  font-weight: 600;
  line-height: 38px;
  color: #6255a5;
  margin-bottom: 30px;
}

.work #left-work {
  transform: translateX(50px);
}
.work #right-work {
  transform: translateX(-50px);
}
.work .left-work {
  position: relative;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  box-shadow: 0px 0px 30px 0px rgb(0, 0, 0, 0.08);
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 30px;
}

.work .left-work img {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
}
.work .work-title {
  margin-bottom: 20px;
}
.work .work-title h3 {
  font-family: "Open sans";
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  color: #6255a5;
  /* margin-bottom: 30px; */
}
.work .work-detail p {
  font-family: "Open sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #333333;
  margin-bottom: 20px;
}
.work .work-btn button {
  border-radius: 3px;
  font-family: "Open sans";
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  width: 172px;
  height: 40px;
  background: #6255a5;
  color: #fff;
  border: none;
}

/* #left-work {
  margin-right: -50px;
  background: #ff5e5e;
} */

/*==================================================
                    Customer Saying
==================================================*/

.customer-say {
  margin-bottom: 60px;
}
.customer-say .customer-title h1 {
  /* margin-top: 60px; */
  font-family: "Open sans";
  font-size: 34px;
  font-weight: 600;
  line-height: 38px;
  color: #6255a5;
  margin-bottom: 60px;
}
.customer-detail {
  padding: 30px;
}
.customer-say .customer-1 {
  width: 550px;
  height: 278px;
  border-radius: 3px;
  box-shadow: 0px 0px 30px 0px rgb(0, 0, 0, 0.08);
  /* background-color: red; */
  /* display: block;
  margin: 0 auto; */
  /* left: 50%; */
}
.customer-say #row-1 {
  margin-bottom: 30px;
}
.customer-image-1 {
  width: 100px;
  height: 100px;
  margin-bottom: 30px;
  position: relative;
  border-radius: 50%;
  box-shadow: 0px 0px 30px 0px rgb(0, 0, 0, 0.08);
}
.customer-say .customer-1 .customer-detail img {
  /* background: red; */
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.row-2 {
  margin-left: 15px;
}

.customer-name-1 {
  /* position: relative; */
  /* background: green; */
  height: 100px;
  padding-top: 15px;
  padding-left: 20px;
  margin-bottom: 0;
  margin-bottom: 15px;
}

.customer-name-1 h3 {
  font-family: "Open sans";
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  color: #6255a5;
}
.customer-name-1 h6 {
  font-family: "Open sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #333333;
  /* padding-bottom: -15px; */
}

/*==================================================
                    Search-Notes
==================================================*/
.Search-img-text {
  margin-top: 66px;
  position: relative;
  background: url("../images/Search-Notes/banner-with-overlay.jpg") no-repeat
    center;
  height: 250px;
}

.Search-img-text h3 {
  position: absolute;
  font-family: "Open sans";
  font-size: 50px;
  font-weight: 600;
  line-height: 54px;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#notesfilter {
  margin-top: 60px;
  margin-bottom: 60px;
  /* background: #6255a5; */
}
#notesfilter h3 {
  font-family: "Open sans";
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  color: #6255a5;
  margin-bottom: 20px;
}
.searchnotes {
  height: 181px;
  /* width: 1440px; */
  /* color: #f9f9f9; */
  background: #f9f9f9;
}
.search-filter {
  padding: 30px 20px 20px 20px;
}
.search {
  margin-bottom: 10px;
  padding: 0px 10px 0px 10px;
}
#search-enter {
  background-image: url("../images/Search-Notes/searchicon.png");
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  padding: 12px 20px 12px 40px;
  border: 1px solid #d1d1d1;
  border-radius: 3px;
  height: 50px;
  font-family: "Open sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #8a8a8a;
}

.flex-container {
  display: flex;
  margin: 0;
  padding: 0;
}

.flex-container > div {
  color: #8a8a8a;
  margin: 10px;
  text-align: left;
  line-height: 20px;
  font-size: 16px;
  font-weight: 400;
  padding: 12px 20px 12px 10px;
  border: 1px solid #d1d1d1;
  border-radius: 3px;
  background-color: #fff;
  /* position: relative; */
}
.arrow-down {
  /* position: absolute; */
  /* text-align: right !important; */
  transform: translatex(30px);
  /* overflow: hidden; */
}

#notes-total h3 {
  font-family: "Open sans";
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  color: #6255a5;
  margin-bottom: 30px;
}

.list-group-item {
  position: relative;
  display: block;
  /* padding: .75rem 1.25rem; */
  padding: 0px 0px 15px 15px;
  /* margin-bottom: 0px; */
  background-color: #fff;
  border: 0px solid rgba(0, 0, 0, 0.125);
}
.card {
  min-height: 100%;
}
.card-title {
  margin-bottom: 0px;
}
.card-body {
  padding: 20px;
}
.card-detail-notes {
  padding-left: 0px;
  font-family: "Open sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #333333;
}
.rate {
  float: left;
  /* height: 46px; */
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 25px;
  color: #ccc;
}
.rate:not(:checked) > label:before {
  content: "★ ";
}
.rate > input:checked ~ label {
  color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

.pagination-section {
  height: 20px;
  margin-bottom: 50px;
  margin-top: 50px;
  /* background: #6255a5;
  border-radius: 50%; */
}
.pagination-number {
  display: inline-block;
}
.pagination-notes {
  text-align: center;
}
.pagination-number a {
  /* color: #fff; */
  padding: 5px 12px;
  text-decoration: none;
  font-family: "Open sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #333333;
}
.pagination-number a.active {
  background-color: #6255a5;
  color: #fff;
  border-radius: 50%;
  /* width: 34px;
  height: 34px; */
}
.card-body .card-title {
  font-family: "Open sans";
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  color: #6255a5;
}
.row-notes-1 {
  margin-bottom: 30px;
}

/*==================================================
                    User-Dashboard
==================================================*/

.User-Dashboard {
  margin-top: 66px;
}
.dashboard-1 {
  padding-top: 60px;
}

.User-Dashboard h3 {
  font-family: "Open sans";
  font-size: 34px;
  font-weight: 600;
  line-height: 38px;
  color: #6255a5;
  /* margin-top: 60px; */
  /* margin-bottom: 0px; */
}

.add-note-btn button {
  border-radius: 3px;
  font-family: "Open sans";
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  width: 150px;
  height: 40px;
  background: #6255a5;
  color: #fff;
  border: none;
}
.dashboard-detail-2 {
  margin-top: 30px;
}
.flex-container-2 {
  display: flex;
  align-items: stretch;
  /* background-color: #f1f1f1; */
}

.flex-container-2 > div {
  border: 1px solid #d1d1d1;
  /* color: red; */
  margin: 0px 10px 0px 10px;
  text-align: center;
  border-radius: 2px;
  padding: 25px 0px 25px 0px;
  /* line-height: 75px; */
  /* height: 151px; */
  /* font-size: 30px; */
}
.flex-container-2 > div > div > h6 {
  /* margin-bottom: 0px; */
  /* padding: 30px; */
  font-family: "Open sans";
  font-size: 30px;
  font-weight: 700;
  line-height: 34px;
  color: #6255a5;
}
.flex-container-2 > div > div > span {
  font-family: "Open sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #333333;
}

#box-2 {
  margin-left: -10px;
  border-right: none;
}
#box-3 {
  border-left: none;
  margin-left: -10px;
}

.progress-notes {
  margin-top: 126px;
  margin-bottom: 20px;
}
.progress-notes-2 {
  margin-top: 60px;
  margin-bottom: 20px;
}

.progress-dashboard h3 {
  font-family: "Open sans";
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  color: #6255a5;
  /* margin-top: 60px; */
  /* margin-bottom: 0px; */
}
.progress-note-btn button {
  border-radius: 3px;
  font-family: "Open sans";
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  width: 117px;
  height: 40px;
  background: #6255a5;
  color: #fff;
  border: none;
}
#search-enter-progress {
  background-image: url("../images/Search-Notes/searchicon.png");
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 322px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #d1d1d1;
  border-radius: 3px;
  height: 40px;
  font-family: "Open sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #8a8a8a;
}

.progress-table {
  border: 1px solid #d1d1d1;
  border-radius: 3px;
}
.table {
  margin-bottom: 0px;
}

.table thead th {
  font-family: "Open sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #333333;
  text-transform: uppercase;
}
.table td {
  font-family: "Open sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #333333;
}

.action-1 {
  margin-right: 15px;
}
.table td,
.table th {
  padding: 20px 15px;
}
#dash-3 {
  margin-right: -5px;
}
#dash-4 {
  margin-left: -5px;
  /* padding-left: -25px;
  padding-right: -25px; */
}
#earning {
  font-family: "Open sans";
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  color: #6255a5;
}
#img-4 {
  height: 35px;
  width: 70px;
}

.table tbody tr:hover {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

/*==================================================
                Note Details page
==================================================*/
#Note-Details-page {
  margin-top: 66px;
}

#Note-Detail {
  padding: 50px 0px;
}

#Note-Detail .note-img img {
  width: 100%;
  height: 240px;
}

#Note-Detail .note-title p {
  font-family: "Open sans";
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
  margin: 0px;
}

#Note-Detail .Note-Detail p {
  font-family: "Open sans";
  font-size: 13px;
  line-height: 20px;
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#Note-Detail .download-btn button {
  border-radius: 3px;
  font-family: "Open sans";
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  background: #6255a5;
  color: #fff;
  border: none;
  height: 30px;
  width: 170px;
}

#Note-Detail #Note-Details-Right .title p {
  font-size: 15px;
  font-family: "Open sans";
  line-height: 12px;
  color: #333333;
}

#Note-Detail #Note-Details-Right .title-value p {
  font-size: 15px;
  font-family: "Open sans";
  line-height: 12px;
  color: #6255a5;
  font-weight: 600;
  text-align: right;
}

#Note-Detail #Note-Details-Right .title-value p i {
  color: #f4c614;
}

#Note-Detail #inappropriate-mark p {
  font-size: 12px;
  font-family: "Open sans";
  margin-bottom: 0;
  color: #ff3636;
  font-weight: 600;
}

#note-preview {
  border-top: 2px solid #f4f4f4;
  padding: 50px 0px;
}

#note-preview #testmonials {
  border: 2px solid #f4f4f6;
}

#note-preview #testmonials .testimonial {
  margin: 20px 20px 0 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #f4f4f4;
}

#note-preview #testmonials .customer-img img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

#note-preview #testmonials .customer-nam-des {
  margin-left: 10px;
}

#note-preview #testmonials .customer-nam-des h3 {
  font-family: "Open sans";
  font-weight: 700;
  font-size: 14px;
  margin: 0px;
}

#note-preview #testmonials .customer-nam-des .row {
  margin: 5px 0px 0px 0px;
}

#note-preview #testmonials .customer-nam-des p {
  font-family: "Open sans";
  font-size: 13px;
  line-height: 18px;
  margin: 0px;
  margin-top: 5px;
}

#note-preview #testmonials .customer-nam-des .rate {
  margin-left: -20px;
}

#Note-Detail #Note-Details-Right .title-value .rate {
  margin-left: -16px;
  padding-right: 0px;
  margin-top: -15px;
}

.center-block-horiz {
  margin-left: auto !important;
  margin-right: auto !important;
}

.set-border-cicis-menu-to-go {
  border: 2px solid #4f4f4f;
}

set-box-shadow-cicis-menu-to-go {
  -webkit-box-shadow: 2px 2px 10px #4f4f4f;
  -moz-box-shadow: 2px 2px 10px #4f4f4f;
  box-shadow: 2px 2px 10px #4f4f4f;
}

/*
** Style the iframe
** =========================
*/
/*
    css commmon to all iframes
*/
.responsive-wrapper {
  position: relative;
  height: 0;
  /* gets height from padding-bottom */
  overflow: hidden;
  /* put following styles (necessary for overflow and 
     scrolling handling) inline in .embed-responsive-element-wrapper around iframe because not stable in CSS 
    -webkit-overflow-scrolling: touch; 
    overflow: auto; */
}

.responsive-wrapper img,
.responsive-wrapper object,
.responsive-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  border-style: none;
  padding: 0;
  margin: 0;
}

/*
    css particular to this iframe
*/

#Iframe-Cicis-Menu-To-Go {
  max-width: 666.67px;
  max-height: 600px;
  overflow: hidden;
}

/*
   padding-bottom = h/w as %
*/
.responsive-wrapper-padding-bottom-90pct {
  padding-bottom: 82%;
}

.vertical-heading h3 {
  font-family: "Open sans";
  font-size: 34px;
  font-weight: 600;
  line-height: 38px;
  color: #6255a5;
}

.notes-vertical-heading h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-family: "Open sans";
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  color: #6255a5;
}

.vertical-heading-sm h3 {
  margin-bottom: 5px;
  font-family: "Open sans";
  font-size: 26px;
  font-weight: 600;
  line-height: 28px;
  color: #6255a5;
}

.rate {
  margin-top: -5px;
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

/*==================================================
                Thankyou popup modal
==================================================*/

#thank-you-modal {
  margin-top: 100px;
}

#thank-you-modal .modal-content .modal-body {
  padding: 0;
  margin: 50px 55px 30px 40px;
}

#thank-you-modal .modal-content .close {
  position: absolute;
  left: 100%;
  padding: 0px 5px 0px 0px;
  transform: translateX(-100%);
}

#thank-you-modal .modal-content .modal-body .top-logo i {
  width: 63px;
  height: 63px;
  color: #6255a5;
}

#thank-you-modal .modal-content .modal-body .title {
  font-family: "Open sans";
  font-size: 26px;
  font-weight: 600;
  line-height: 30px;
  color: #6255a5;
}

#thank-you-modal .modal-content .modal-body .detail h3 {
  font-family: "Open sans";
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: #333333;
}

#thank-you-modal .modal-content .modal-body .detail p {
  font-family: "Open sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #333333;
}

/*==================================================
                Add Review popup modal
==================================================*/
/* #Review-modal .modal-body {
  padding: 0px 30px;
} */

#Review-modal .modal-title {
  font-family: "Open sans";
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  color: #6255a5;
  /* margin-bottom: 20px; */
}
#Review-modal .modal-footer {
  border-top: 0px;
  padding: 0px 16px 16px 16px;
}
#Review-modal .modal-header {
  border-bottom: 0px;
}
#Review-modal .rate {
  padding-left: inherit;
}

#Review-modal .rate:not(:checked) > label {
  font-size: 35px;
}
#Review-modal h6 {
  font-family: "Open sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #333333;
}

/*==================================================
                   My Download Notes
==================================================*/
#My-Downloads-notes .progress-dashboard h3 {
  font-family: "Open sans";
  font-size: 34px;
  font-weight: 600;
  line-height: 38px;
  color: #6255a5;
}
#My-Sold-notes .progress-dashboard h3 {
  font-family: "Open sans";
  font-size: 34px;
  font-weight: 600;
  line-height: 38px;
  color: #6255a5;
}

.dropbtn {
  background-color: #fff;
  color: #fff;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* submenu for my down load page */
.my-download .dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  margin-left: -175px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  font-family: "Open sans";
  font-weight: 600;
  font-size: 14px;
  color: #333333;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #fff;
}

.my-sold-notes .dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  margin-left: -125px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* font of submenu for sold note, rejected note and request page */
.my-sold-notes .dropdown-content a {
  font-family: "Open sans";
  font-weight: 600;
  font-size: 14px;
  color: #333333;
  padding: 15px 15px;
  text-decoration: none;
  display: block;
}

.edit-action {
  margin-right: 5px;
}

/*==================================================
                    FAQ - Page
==================================================*/

.faq {
  margin: 60px 0px;
}

.faq .fa-plus {
  color: #a6a6a6;
}
.faq .fa-minus {
  color: #a6a6a6;
}

/* FAQ COLLAPSE/EXPAND STYLES */

.faqanswer {
  display: none;
  /* width: 590px; */
  /* background: #e5e5e5; */
  padding: 12px 20px 0 30px;
  border: 1px solid #d1d1d1;
  /* border-radius: 3px; */
  border-top: 0px;
}
.faq-1 {
  margin-bottom: 15px;
}
.faqanswer p {
  font-family: "Open sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #333333;
}

.faq a.active {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  font-family: "Open sans";
  color: #333333;
}
.faq a:hover {
  color: #333;
  text-decoration: none;
}
.faq span {
  float: right;
}
.togglefaq {
  text-decoration: none;
  font-family: "Open sans";
  color: #333333;
  font-size: 18px;
  padding: 10px 30px;
  font-weight: 400;
  line-height: 22px;
  display: block;
  border: 1px solid #d1d1d1;
  /* margin-bottom: 15px; */
  /* border-radius: 3px; */
  background: #f3f3f3;
}
.togglefaq.active {
  background: none;
  border-bottom: none;
}
.faq-heading h3 {
  font-family: "Open sans";
  font-size: 26px;
  font-weight: 600;
  line-height: 28px;
  color: #6255a5;
  margin-bottom: 30px;
  /* margin-top: 60px; */
  /* margin-bottom: 0px; */
}
.faq p {
  margin: 0;
  padding-bottom: 20px;
}

/*==================================================
                    add notes page
==================================================*/
.last-row {
  margin-bottom: 15px;
}

.radio-input input {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

.radio-input label {
  margin-right: 15px;
}

.price {
  margin-top: -10px;
}

/*==================================================
                   Conatct Us
==================================================*/

.contactus {
  margin-top: 66px;
  margin-bottom: 50px;
}

.getintouch h3 {
  font-family: "Open sans";
  font-size: 34px;
  font-weight: 600;
  line-height: 38px;
  color: #6255a5;
}
.getintouch p {
  font-family: "Open sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #333333;
}
.contactus h3 {
}
.contactus p {
}

/*==================================================
                    footer-wrapper
==================================================*/
.footer-wrapper {
  height: 80px;
  border-top: 0.2px solid #8a8a8a;
}

.footer-wrapper #text-area,
.footer-wrapper #icon-area {
  top: 50%;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
}

.footer-wrapper #icon-area {
  margin: 4px 0 0 0;
  text-align: right;
}

.footer-wrapper #text-area {
  margin: 0;
  padding-top: 6px;
}

.footer-wrapper #text-area p {
  font-size: 12px;
}

ul.social-list li {
  list-style-type: none;
  display: inline-block;
}

ul.social-list li a {
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  line-height: 32px;
  color: #fff;
  border-radius: 50%;
  background: #6255a5;
}
